.nam {
    margin-left: auto;
}
.nav-links {
    color: #000;
    text-decoration: none;
}
.Main {
    border: solid !important;
}
.landing-image {
    margin-bottom: 60px;
    max-height: 45vh;
    width: 300px;
}
.video-container {
    position: relative;
}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
}

.other-content {
    margin-top: 400px; /* Adjust as needed */
}

.play-button {
    position: relative;
    z-index: 1;
}

.limage {
    width: 300px;
}
.eimage {
    width: 250px;
}
.heading {
    color: #424242;
    margin-bottom: 2px;
}
.subheading {
    color: #42425a;
    margin: 2px;
}
.ecosystem-image {
    max-width: 600px;
    width: auto;
}
.pricing-box {
    border: 1px solid #ccc;
    padding: 25px;
    box-sizing: border-box;
    min-height: 190px;
}
.pricing {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.arro {
    margin-right: 20px;
}
/* .account-open-sections {
    position: absolute;
    border-radius: 2px;
    padding: 6px 10px 5px 8px;
    top: 1px;
    left: 1px;
    color: #424242;

    font-size: 1.2em;
} */
.input-group {
    display: flex;
    align-items: stretch; /* Align items to stretch to the same height */
    width: 100%;
}

.input-group-prepend,
.input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px !important; /* Set width to 50px */
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.centerMobile {
    width: 350px !important;
}
.form-control.input1 {
    flex-grow: 1; /* Allow the input field to grow to fill the remaining space */
    width: calc(100% - 50px); /* Calculate width to fill remaining space */
}

@media (max-width: 768px) {
    .nam {
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-left: auto !important;
    }
}
@media only screen and (max-width: 550px) {
    .landing-image {
        margin-bottom: 45px;
        height: auto;
    }
}

@media only screen and (max-width: 800px) {
    .ecosystem-image {
        width: auto !important;
        max-width: 100% !important;
        margin-top: 20px;
        height: 10px;
    }
}

footer {
    background-color: #fafafb;
    padding: 30px 0 5px 0;
    border-top: 1px solid #eee;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer .contactnumber {
    font-size: 1.25rem;
    color: #424242;
    margin-bottom: 10px;
}
footer .social {
    padding: 0;
    margin-top: 15px;
}
footer .social li {
    display: inline-block;
    margin-right: 10px;
}
footer .social a {
    font-size: 1.25rem;
    color: #9b9b9b;
    line-height: 1;
}
footer .social a:hover {
    color: #387ed1;
}
footer .social a img {
    height: 18px;
    width: 18px;
    position: relative;
    top: 3px;
}
footer .social a img.youtube-logo {
    width: 26px;
    height: 26px;
    top: 6px;
}
footer .footer-logo {
    padding: 10px 0;
}
footer .footer-logo img {
    max-height: 20px;
    width: auto;
}
footer .main-footer li {
    line-height: 2;
}
footer .main-footer li a {
    color: #666;
}
footer .main-footer li a:hover {
    color: #387ed1;
}
footer .main-footer .nav-head {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 10px;
}
footer .smallprint {
    color: #9b9b9b;
    margin-top: 40px;
}
footer .smallprint p {
    font-size: 0.65rem;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
}
footer .smallprint p:last-child {
    margin-bottom: 0;
}
footer .footer-graveyard-links ul li {
    display: inline;
    font-size: 0.8rem;
    margin-right: 20px;
}
footer .footer-graveyard-links ul li a {
    color: #9b9b9b;
    line-height: 4;
    font-size: 0.75rem;
}
footer .footer-graveyard-links ul li a:hover {
    color: #387ed1;
}
footer .copyright {
    margin: 0;
    font-size: 0.8rem;
}
@media only screen and (max-width: 1100px) {
    footer .container {
        padding: 0 20px;
    }
}
@media only screen and (max-width: 800px) {
    .main-footer .column,
    .main-footer .columns {
        margin-bottom: 40px;
    }
    .main-footer .column:last-child,
    .main-footer .columns:last-child {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 756px) {
    .landing-image {
        width: 650px;
    }
    .limage {
        width: 350px;
    }
    .eimage {
        width: 350px;
    }
}
