.links {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  font-weight: 700;
}
.links:hover {
  color: orange;
}

.links_on_matter {
  text-decoration: none;
}

.card {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_item_1 {
  margin-top: 2.5vh;
}
.card_item_2 {
  display: flex;
  gap: 20px;
  margin-top: 2.5vh;
}
.react_icons {
  width: 150%;
  height: 100%;
}

.card_name {
  font-size: 2vw;
  margin: 2vw 0vw 0vw 2vw;
  font-weight: 400;
}

.design {
  display: flex;
  justify-content: flex-start;
  margin-top: 2vw;
}
.design_inner {
  width: 50vw;
  margin-left: 1vw;
}

.card1 {
  margin-top: 10vh;
}

.design_matter {
  margin-left: 1vw;
  border-right: 1px solid black;
}
.text {
  height: 100vh;
  margin: auto;
  text-align: center;
  margin-top: 10vh;
}
.paragrap {
  color: #c6c6c6;
}
