.ide {
    border: solid;
    height: 40px;
}

.inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: auto;
    margin: auto;
    padding-top: 10px;
    color: rgb(41, 41, 41);
}
.inner1 {
    color: rgb(41, 41, 41);
}
